<div class="container-fluid px-xl-5" id="files-container"
    style="display: none; margin: 0px !important; padding: 0px !important; height: 100% !important; width: 100% !important;">

    <div id="drop-zone" class="" style="background: red; width: 100%; height: 100%;">

        <div class="container-fluid px-xl-5">
            <!--
                FileManager section
                All the folder and the file will be displayed in this section
            -->
            <section class="py-5">
                <div id="filemanager" class="row" style="padding-left: 10px; padding-right: 10px">
                </div>
            </section>
        </div>

    </div>

</div>